body {
  background-image: url("https://cdn.hipwallpaper.com/i/70/27/8OEDhx.jpg");
  font-family: "Noto Serif", serif;
}
.logo {
  max-width: 229px;
  min-height: 61px;
  margin: 0 auto;
  display: block;
  width: 48%;
  padding: 11px 0px 20px 0px;
}
.navbar-nav {
  padding-left: 300px;
}
.active-class {
  color: #e79445 !important;
}
.section {
  margin-top: 50px;
}
.image-section {
  padding-left: 200px;
  margin-top: 80px;
  padding-right: 200px;
}
.right-side {
  padding-right: 100px;
  justify-content: center;
}
.heading {
  text-align: center;
  margin-top: 80px;
}
